<a href="https://colab.research.google.com/github/2019130806/class2021Spring/blob/main/syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

여러번 여러개 하고 싶을 때 for 씀

In [ ]:
a=[1,2,3,4]
for i in a: #문법 for in a: in 앞이랑 다음에 무엇이 와야 할지?
#in 뒤에 있는 것을 하나식 돌려서 뭔가를 하라..!?
    print(i) #i가 1을 받고, 그 다음 2 받고, 3 받고, 4 받고..

1
2
3
4

a에는 1 2 3 4
in a: a 속에 있는 것을 근하나 하나 처음부터 i에 할당?!

In [ ]:
a=[1,2,3,4] #list
for i in a: #for 100 print (a)하면 100번동안 a를 print해라 라는 뜻 #print i in a:하면 a처음부터 끝까지 프린트
    print (i) #a:니까 1 2 3 4

1
2
3
4

In [ ]:
a=[1,2,3,4]
for i in range(len(a)): #len은 길이 --> a의 길이는 4
    print(a[i])

In [ ]:
a=[1,2,3,4]
for i in range(4): #range뒤 숫자 4--> 4개의 index 0부터 시작해서 0, 1, 2, 3
    print(a[i]) #i가 처음에 0 -> 0번째 것 프린트해라 -> 1

1
2
3
4

In [ ]:
a=[1,2,3,4]
for i in range(len(a)): #len(a)는 4 range 4개를 만듦 -> 0, 1, 2, 3
    print(a[i]) #a의 0번째, 1번째, 2번째, 3번째

1
2
3
4

In [ ]:
a=['red', 'gree', 'blue', 'purple']
for i in a:
    print(i)

red
gree
blue
purple

In [ ]:
a=['red', 'blue', 'green', 'purple']
for s in a:
    print(s) #for loop 4번 돌림/ 매번 돌리면 s variable은 바뀜, 바뀌는 족족 print out 해줌

red
blue
green
purple

In [ ]:
a=['red', 'green', 'blue', 'purple']
for i in range(len(a)): #range(4): 랑 같음
    print(a[i]) #for loop안에 들어있다는 차원에서 안 쪽으로 들어가야 함!

red
green
blue
purple

In [ ]:
a=['red', 'green', 'blue', 'purple']
for s in range(len(a)):
    print(a[s])

red
green
blue
purple

여기부턴 3월 15일에 안 함.<br>
목요일에 마저 수업나가면 이어서 다시 해보도록 하겠습니다. ㅎㅎ

In [ ]:
a=[1,2,3,4]
for i in range(3): #index 3개 0, 1, 2
    print(a[i])

1
2
3

In [2]:
a=[1,2,3,4]
for i in range(4):
    print(a[i]) #a[o], a[1], a[2], a[3]

1
2
3
4

In [3]:
a=[1,2,3,4]
for i in range (0,4): #range(0,4) --> 0부터 4이전까지!
    print(a[i])

1
2
3
4

In [4]:
a=[1,2,3,4]
for i in range(1,4): #1,2,3 --> 2, 3, 4 // range(1,5) --> 에러 index 4=5번째는 없음! a[4] 존재하지 않음
    print(a[i])

2
3
4

In [5]:
a=[1,2,3,4]
for i in range(0,4,2): #0부터 3까지 두 칸을 뛰어라 ???
    print(a[i])

1
3

In [7]:
a=[1,2,3,4,5,6,7,8,9,10]
for i in range (0,10,2):
  print(a[i])

1
3
5
7
9

In [8]:
a=[1,2,3,4,5,6,7,8,9,10]
for i in range (0,10,3):
  print(a[i])

1
4
7
10

In [9]:
a=[1,2,3,4,5,6,7,8,9,10]
for i in range (0,10,1):
  print(a[i])

1
2
3
4
5
6
7
8
9
10

In [10]:
a=[1,2,3,4,5,6,7,8,9,10]
for i in range (0,10,4): #RANGE 쓰는 법 알아야 함
  print(a[i])

1
5
9

range(4)<br>
range(1,4) --> 1번째부터 4번째 전까지 (시작은 0번째부터)<br>
for () in 리스트/range

제어문 2개<br>
loop - for<br>
condition - if <br>
if ( ) : (~하면)<br>
  (tab) (뭐뭐를 실행해라)<br>
else: (그렇지 않으면~) <br>

In [12]:
a=0
if a==0: #등호 2개 a가 0과 같다!
    print(a) #a가 0과 같으면 밑에 것을 실행해라!
else:
    print(a+1)

0

In [13]:
a=1
if a==0:
    print(a)
else:
    print(a+1) #무엇이 print out 되어 나올지 시험 문제 출제 가능

2

In [14]:
a=1
if a==0:
    print(a) #아무것도 안 나옴 ㅎㅎ

for loop 가 2번 돈다 -> (1번,2번, 3번)(1번,2번, 3번)<br>
for loop가 3번 돈다 --> 1번, 2번 3번

In [16]:
for i in range(1,3): #1, 2를 i에 넣어서 돌아간다고 생각
    for j in range(3,5): #3에서 5직전까지 --> 3, 4 (2번 도는 것) 3-> j / 4-> j // 돌리는 대상은 print(i+j)
        print(i*j) i=1, j=3 / i=1, j=4/ i=2, j=3/i=2, j=4

3
4
6
8

In [17]:
for i in range(1,3): #1,2
    for j in range(3,5): #3,4
        if j>=4:
            print(i*j)

4
8

In [20]:
a=[1,2,3,4] #list
b=[i for i in a if i >=2] #list / #loop list 아니면 list loop라고 부름
#for 하고 if 가 들어있음 
#for i in [1,2,3,4]
#   if i >=2
#i를 가지고 b를 만들어라
print(b) #b에 리스트가 들어옴
print(type(b)) #list임을 알 수 있음

[2, 3, 4]
<class 'list'>

In [21]:
a=['red', 'green', 'blue', 'purple']
b=[i for i in a if len(i)>=4] #철자가 4이상인 것 골라서 b에다가 list up 해라 훗
#b=[i]
#for i in a: #red가 1로 들어감 -> len은 3 -> 3은 4보다 크지 않으니 X
    #if len(i)>=4
b

['green', 'blue', 'purple']

loop가 list 속에 들어가서 만드는 방법!

In [ ]:
a=["red", "green", "blue", "purple"]
b=[0.2, 0.3, 0.1, 0.4]
for i, a_ in enumerate(a):
    print("{}:{}%".format(a_, b[i]*100))

red:20.0%
green:30.0%
blue:10.0%
purple:40.0%

In [ ]:
a=["red", "green", "blue", "purple"]
b=[0.2, 0.3, 0.1, 0.4]
for a_, b_ in zip(a,b):
    print("{}:{}%".format(a_, b_*100))

red:20.0%
green:30.0%
blue:10.0%
purple:40.0%