<a href="https://colab.research.google.com/github/2019130806/class2021Spring/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=1
print(type(a))
#int = integer 정수

<class 'int'>

In [5]:
a=1
a=float(a) #float는 뭘까? = 소수
print(type(a))
print(a)

<class 'float'>
1.0

In [6]:
a=1.2
a=int(a)
print(type(a))
print(a) #위에서 1.2를 integer라고 assign해줬응께 반올림해서 1.2가 정수 1이 됨

<class 'int'>
1

In [7]:
a='123'
print(type(a)) #string: 문자열
print(a[1]) #a에 있는 문자 character 중 두번째 것 프린트 --> 2

<class 'str'>
2

In [8]:
a='123'
a=list(a)
print(type(a)) #list
print(a) #['1', '2', '3'] <-- 리스트!
print(a[2]) #3

<class 'list'>
['1', '2', '3']
3

In [10]:
a=[1, '2', [3, '4']]
print(type(a)) #list
print(a[0]) #1
print(a[1]) #2
print(a[2]) #[3, '4']

<class 'list'>
1
2
[3, '4']

In [11]:
a=(1, '2', [3, '4']) #tuple 투플 =나열형
print(type(a)) #tuple
print(a[0]) #1
print(a[1]) #2
print(a[2]) #[3, '4']

<class 'tuple'>
1
2
[3, '4']

In [14]:
a={"a": "apple", "b": "orange", "c": 2014}
print(type(a)) #dict = dictionary
print(a["a"]) #apple

<class 'dict'>
apple

In [15]:
a=[(1,2,3), (3,8,0)]
print(type(a)) #list
a #[(1,2,3,), (3,8,0)]

<class 'list'>

[(1, 2, 3), (3, 8, 0)]